# Split QM9 data

In [1]:
import pandas as pd 
import os 
import numpy as np
np.random.seed(42)

In [2]:
df = pd.read_csv('qm9.csv')

In [3]:
df.sample(5)

,smiles,mu,alpha,homo,lumo,gap,r2,zpve,cv,u0,u298,h298,g298
3115,N#CC12CC1CO2,4.5933,55.81,-0.2627,-0.0086,0.2541,650.3290,0.090625,21.459,-323.338627,-323.332830,-323.331885,-323.368166
117879,COCC(O)C#CC=O,3.4068,77.34,-0.2697,-0.0657,0.2040,1808.5114,0.131823,35.183,-458.914682,-458.903948,-458.903004,-458.952489
23433,COC1C2CC(=NO)C12,1.2920,76.75,-0.2258,0.0156,0.2414,1215.4323,0.146098,32.710,-438.996978,-438.988148,-438.987204,-439.030829
61955,CC(CC=O)OCC#C,3.1488,79.50,-0.2438,-0.0199,0.2239,1685.1071,0.154138,36.895,-422.988608,-422.977883,-422.976938,-423.026195
98811,COC(=N)N1CCC1=N,1.9135,77.81,-0.2343,0.0056,0.2400,1271.6972,0.147974,32.448,-435.272093,-435.262958,-435.262014,-435.306724

In [4]:
df_subsample = df.sample(50_000, random_state=42)

In [5]:
len(df_subsample)

50000

In [8]:
_train_size = 0.8 
_val_size = 0.1
_train_val_size = _train_size + _val_size

In [9]:
train, validate, test = np.split(df_subsample, [int( _train_size * len(df_subsample)), int( _train_val_size * len(df_subsample))])

In [10]:
print('Train: {0} | Val: {1} | Test: {2}'.format(train.shape, validate.shape, test.shape))

Train: (40000, 13) | Val: (5000, 13) | Test: (5000, 13)

In [11]:
train.to_csv('qm9_train.csv', columns=train.columns, index=None)
validate.to_csv('qm9_val.csv', columns=validate.columns, index=None)
test.to_csv('qm9_test.csv', columns=test.columns, index=None)